body{
    
}
h3{
    text-align: center;
}

#FotoBreno{
    display: block;
    border-radius: 15%;
    margin-left: auto;
    margin-right: auto;

}

.indexStyle{
    list-style:square;
    padding-left: 3%;

}

#Skills{
    list-style: none;
    padding: 0%;
}